@model HB2.ViewModels.Index_1
@{
    ViewBag.Title = "Главная";
}

    <div class="container">
       
        <div>
            <h5>Планируемые действия</h5>
            <table class="table">
                <tr><td>Название</td><td>Действие</td><td>План</td><td>Планируемая сумма</td><td>Реальная сумма</td><td>%</td><td></td><td></td></tr>
               @foreach (var item in Model.operat)
                {
            <tr>
                <td><a asp-action="RedDelOp" asp-controller="Home" asp-route-id=@item.Id>@item.Name</a></td>
                <td>@item.NameAct</td>
                <td><a asp-action="OperPlan" asp-controller="Home" asp-route-id=@item.PlanId>@item.Plan.Name</a></td>
                <td>@item.Sum</td>
                <td>@item.Sum</td>
                <td>@item.Procent</td>
                <td><a asp-action="SovOper" asp-controller="Home" asp-route-id=@item.Id>Совершить</a></td>
            </tr>
                }
            </table>
        </div>
    </div>
<script>
    var d=new Date();
    var days = ["Вс", "Пн", "Вт", "Ср", "Чт", "ПТ", "Сб"];
    var d2=d.getMonth()+1;
    var d1=days[d.getDay()] + " " + d.getDate() + ".0"+ d2 + "." + d.getFullYear();
    $('#data1').append(function() {
  return d1  ;
     });

</script>
