@model IEnumerable<HB2.Models.Plan>
@{
    ViewBag.Title = "Планирование";
}
<div class="container">
    <div>
        <h4>Все планы</h4>
    </div>
    <div>
        <a asp-action="AddPlan" asp-controller="home" class="btn btn-outline-success btn-sm active" role="button" aria-pressed="true">Добавить</a>
    </div>
    <div id="table">

        <table class="table">

            <tr><td>Название</td><td>Дата начала</td><td>Дата конца</td><td>Период</td><td>Процент</td><td>Доход</td><td>Расход</td><td>Итог</td></tr>
            @foreach (var i in Model)
            {
        <tr>
            <td>@i.Name</td>
            <td>@i.Data</td>
            <td>@i.DataPeriod</td>
            <td>@i.Period</td>
            <td>@i.Procent</td>
            <td>@i.DochMonth</td>
            <td>-@i.RasMonth</td>
            <td>@i.RaznDochRas</td>
            <td><a asp-action="OperPlan" asp-controller="Home" asp-route-id="@i.Id">Операции</a></td>
            <td>
                <a asp-action="DelPlan" asp-controller="Home" asp-route-id="@i.Id">Удалить</a>
            </td>
            <td><a asp-action="RedactPlan" asp-controller="Home" asp-route-id="@i.Id">Редактировать</a></td>
        </tr>
            }
        </table>
    </div>
</div>
